langchain-core==0.2.24
langserve==0.2.2
langchain-community==0.2.10
langchain-openai==0.1.19
python-dotenv==1.0.1
langfuse==2.39.3
fastapi==0.110.3
pydantic==1.10.13

# AdaptiveRAG
langgraph==0.2.3
markdown==3.6
unstructured==0.15.3
tiktoken==0.7.0
langchainhub==0.1.21
chromadb==0.5.3
tavily-python==0.3.9
beautifulsoup4==4.12.3
